*{
    box-sizing: border-box;
     margin: 0;
     padding: 0;
    }
    
     body {
           font-family: Arial, sans-serif;
    }
    h3 {
        text-align: center;
      }
      
    #mainNav.logo img {
     height: 200px;
     transition: height 0.4s;
    }
    
    .bg-black {
       Background: rgb(150, 151, 78) !important;
    }
    .txt-white a {
       color: rgb(124, 7, 7) !important;
    }
    div.transbox {
      margin: 30px;
      border: 1px solid black;
      opacity: 0.6;
      filter: alpha(opacity=20);
      position: absolute;
      top: -1pt;
      right: 5pt;
      width: 180px;
      height: 40px;
      border-radius: 25px;
        background: url("rolled paper.jpg");
        background-size: 480px 240px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px; 
        width: 400px;
        height: 230px; 
    }
    div.transbox1 {
      margin: 30px;
      border: 1px solid black;
      opacity: 0.6;
      filter: alpha(opacity=20);
      position: absolute;
      top: 200pt;
      right: 5pt;
      width: 180px;
      height: 200px;
      border-radius: 25px;
        background-size: 480px 240px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px; 
        width: 400px;
        height: 150px; 
    }
    div.transbox2 {
      margin: 30px;
      border: 1px solid black;
      opacity: 0.6;
      filter: alpha(opacity=20);
      position: absolute;
      top: 350pt;
      right: 5pt;
      width: 180px;
      height: 200px;
      border-radius: 25px;
        background-size: 480px 240px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px; 
        width: 400px;
        height: 230px; 
    }
    div.transbox3 {
      margin: 30px;
      border: 1px solid black;
      opacity: 0.6;
      filter: alpha(opacity=20);
      position: absolute;
      top: 550pt;
      right: 5pt;
      width: 180px;
      height: 200px;
      border-radius: 25px;
        background-size: 480px 240px;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px; 
        width: 400px;
        height: 230px; 
    }
  
    div.transbox p {
      font-display: center;
      margin: 5%;
      font-weight: bold;
      color: #000000;
    }
    .transbox h4{
      text-align: center;
    }
    .transbox p{
      text-align: center;
    }
.wrapper opliding ul{
  text-align: left;
}
    #rcorners3 {
      border-radius: 25px;
      background: url(paper.gif);
      background-position: left top;
      background-repeat: repeat;
      padding: 20px; 
      width: 200px;
      height: 150px; 
    }
    #mainNav {
      display: inline block;
      justify-content: space-between;
      padding: 5px 20px;
      position: fixed;
      width: 100%;
      top: 0px;
      background: rgb(12, 28, 102);
      transition: background 0.4s;
    }
    li a:hover {
      background-color: rgb(202, 212, 49);
      color: white;
    }
    .class {
      position: fixed;
      top: 200pt;
      left: 100pt;
      width: 50%;
    }
    .wrapper{
      position: absolute;
      top: 740pt;
      left: 0pt;
      height: 200px;
      width: 1000px;
    }
    
    .Taal{
      background: rgb(12, 28, 102);
      position: absolute;
      top: 770pt;
      left: 3pt;
      height: 200px;
      width: 1000px;
    }
    
    .Hobbies{
      position: absolute;
      top: 770pt;
      left: 400pt;
      height: 200px;
      width: 1000px;
    }
    .Intereste{
      background: rgb(12, 28, 102);
      position: absolute;
      top: 770pt;
      left: 700pt;
      height: 200px;
      width: 420px;
    }
       .common{
      font-size: 20px;
      color:blue;

    }
    .first{
      position: relative;
      height: 20px;
      font-size: 30px;
      top: -120pt;
      left: 300pt;
    }
    .second{
      position: relative;
      height: 20px;
      top: -100pt;
      left: 330pt;
      color: #000;
    }
     section:nth-of-type(1) {
        margin-top: -10px;
    }
    Section {
        height: 180px;
        width: 60%;
        padding: 16px;
        font-size: 18px;
    }
    
    Section:nth-of-type(odd) {
          background: #eee;
         color: #333;
         }
    
    Section:nth-of-type(even) {
          background: rgb(118, 202, 101);
         color: #eee;
         }
         body {
          background-color: #474e5d;
          font-family: Helvetica, sans-serif;
        }
        
    
    #mainNav ul {
      list-style: none;
      display: flex;
      align-items: right;
      width: 400px;
      justify-content: space-around;
    }
    
    #mainNav ul li a {
           text-decoration: none;
           float: right;
           align-items: right;
           color: #333;
           font-weight: 500;
           transition: color 0.4s;
    }
    